@import url("http://weloveiconfonts.com/api/?family=fontawesome");

html, body {
    height: 100%;
    background-size: cover;
    font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    background-color: rgba(230,230,230,0.8);
}

h1 { font-size: 4em; margin-bottom: 0; }
h2 { font-size: 2em; margin-top: 0; }

body {
    text-align: center;
}

.forecast_entry {
    width: 150px;
    margin: 0.5em 0.25em 0 0;
    text-align: center;
    display: inline-block;
    background-color: rgba(230, 230, 230, 0.8);
}

nav {
    position: absolute;
    width: 100%;
    height: 2em;
    font-size: 1em;
    padding: 0.5em;
    bottom: 0;
    right: 0;
    background-color: rgba(64, 64, 64, 0.8);
    color: rgb(230, 230, 230);
    text-align: left;
}

nav button {
    background: transparent;
    border: none;
    color: rgb(230, 230, 230);
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}